@keyframes fade-in{ 
    from{
        visibility: hidden;
        opacity: 0;
    }
    1%{
        visibility: visible;
    }
    to{
       
        opacity: 1;
    }
}
.fade-in{
animation: fade-in 300ms ease-in-out forwards;
}

@keyframes fade-out{
    from{
        visibility: visible;
        opacity: 1;
    }
    99%{
        visibility: visible;
        opacity: 0;
    }
    to{
        visibility: hidden;
        opacity: 0;
    }
}

.fade-out{
    animation: fade-out 300ms ease-in-out forwards;
}

//minimize to maximize
@keyframes minimax{
    from{

        transform: translateX(-50%) scale(0%,0%);
        visibility: hidden;
    }
    1%{
        visibility: visible;
    }
    to{
        box-shadow: 0 0 8px 1px $brightCyan;
        transform: translate(-50%) scale(100%);
        visibility: visible;
    }
}

.minimax{
    animation: minimax 350ms cubic-bezier(.46,.29,.03,1.3) forwards;
}

//maxi to mini
@keyframes maxmini{
    from{
        box-shadow: 0 0 8px 1px $brightCyan;
        transform: translate(-50%) scale(100%);
        visibility: visible;
    }
   
    99%{
        visibility: visible;
        opacity: 0;
    }
    to{
        transform: translateX(-50%) scale(0%,0%);
        visibility: hidden;
    }

}

.maxmini{
    animation: maxmini 350ms cubic-bezier(1,.06,.31,.79) forwards;
}

//body animate on load 
@keyframes bodyanim{
    from{
        opacity: 0;
        transform: scaleX(10%);
    }
    to{
        opacity: 1;
        transform: scaleX(100%);
    }
}
